.bar-container {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 150px;
}

.bar {
	margin: 1px;
	width: 5px;
	background-color: #61dafb;
}

#bar_i {
	margin: 1px;
	width: 5px;
	background-color: blue;
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
}
#bar_active {
	margin: 1px;
	width: 5px;
	background-color: #282c34;
}

.bar_sorted {
	margin: 1px;
	width: 5px;
	background-color: green !important;
}
